/*----------------------------------------------------
Colors: #42838D, #D45C4F, #F0A09A, #BE2D2A, #D7615E
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

---------------------------------------------------- */

/*-------------------------KONIGELD BACKOFFICE CSS---------------------------*/

@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

/*General CSS
============================================================================================ */
html *, html :after, html :before {
    font-family: "Dosis", sans-serif;
    box-sizing: inherit;
}

a, a .link {
    color: #D45C4F;
    font-weight: 700;
}

a {
    text-decoration: none;
}

label {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}

.show-time input[type=email], .show-time input[type=number], .show-time input[type=password], .show-time input[type=search], .show-time input[type=tel], .show-time input[type=text], .show-time input[type=url], .show-time select, .show-time textarea {
    transition: color 300ms, border-color 300ms, background-color 300ms;
}

.show-time a, .show-time a .link {
    transition: color 150ms linear;
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url] {
    width: 100%;
    height: 40px;
}

input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:focus, textarea:focus {
    border-color: #D45C4F;
    z-index: 1;
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 0;
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000;
    outline: none;
    border: 1px solid #000000;
    border-radius: 5px;
}

.flex-align-left, .grid-align-left {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.flex-align-center, .grid-align-center {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.flex-align-right, .grid-align-right {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.align-center {
    text-align: center !important;
}

.grid-row-space-line, .grid-space-line {
    margin-bottom: -20px !important;
}

.grid-row-space-line > *, .grid-space-line > * {
    margin-bottom: 20px !important;
}

.grid, [class*=grid-] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px !important;
}

.border-top {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: #D5D9DC !important;
}

.field:not(.range-field) {
    position: relative;
}

section {
    position: relative;
    z-index: 1;
}

img, svg {
    max-width: 100%;
    height: auto;
}

.icon, svg {
    display: inline-block;
}

.svg-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-left: 60px;
}

.pad-top-small {
    padding-top: 30px !important;
}

.pad-vert-small {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.gap-top-small {
    margin-top: 30px !important;
}

.content-width-extra-large, .content-width-large {
    margin-left: auto;
    margin-right: auto;
    max-width: 868px !important;
}

p {
    margin: 0 0 20px;
}

/* Header CSS
============================================================================================ */
.content {
    width: 276px;
    margin-left: auto;
    margin-right: auto;
}

.konibanner {
    height: 42px;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #D45C4F;
}

.konibanner .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.konibanner .column {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 4;
    -ms-flex: 1;
    flex: 1;
    margin-left: -5px;
    margin-right: -5px;
}

.konibanner .column-fill {
    -ms-flex: 2;
    flex: 2;
}

.konibanner .column > * {
    padding-left: 5px;
    padding-right: 5px;
}

.konibanner a {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: inherit!important;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
}

.konibanner a.logo svg {
    width: 22px;
    height: 22px;
}

/* End Header CSS
============================================================================================ */

section :last-child {
  margin-bottom: 0;
}

.content-width-extra-large, .content-width-large {
  margin-left: auto;
  margin-right: auto;
  max-width: 868px !important;
}

.login {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  height: auto;
  padding: 0;
}

.grid-row:before, .grid-row:after {
    content: "";
    display: table;
}

.grid-col {
  float: left;
  min-height: 1px;
}

.grid-col-24-24 {
	width: 100%;
}

.grid-col-23-24 {
	width: 95.83333%;
}

.grid-col-22-24 {
	width: 91.66667%;
}

.grid-col-21-24 {
	width: 87.5%;
}

.grid-col-20-24 {
	width: 83.33333%;
}

.grid-col-19-24 {
	width: 79.16667%;
}

.grid-col-18-24 {
	width: 75%;
}

.grid-col-17-24 {
	width: 70.83333%;
}

.grid-col-16-24 {
	width: 66.66667%;
}

.grid-col-15-24 {
	width: 62.5%;
}

.grid-col-14-24 {
	width: 58.33333%;
}

.grid-col-13-24 {
	width: 54.16667%;
}

.grid-col-12-24 {
	width: 50%;
}

.grid-col-11-24 {
	width: 46.83333%;
}

.grid-col-10-24 {
	width: 41.66667%;
}

.grid-col-9-24 {
	width: 37.5%;
}

.grid-col-8-24 {
	width: 33.33333%;
}

.grid-col-7-24 {
	width: 29.16667%;
}

.grid-col-6-24 {
	width: 25%;
}

.grid-col-5-24 {
	width: 20.83333%;
}

.grid-col-4-24 {
	width: 16.66667%;
}

.grid-col-3-24 {
	width: 12.5%;
}

.grid-col-2-24 {
	width: 8.3333%;
}

.grid-col-1-24 {
	width: 4.16667%;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
}

.field-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.input-element {
    position: relative;
}

button.toggle-password {
    display: block;
    position: relative;
    z-index: 1;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    min-height: 18px;
    padding: 10px;
    margin-left: -10px;
    font-size: 10px;
    line-height: 18px;
    font-weight: 300;
    background: 0 0;
    text-transform: none;
    letter-spacing: normal;
    color: #D45C4F;
    outline: none;
    cursor: pointer;
}

.button.expand, button.expand, input[type=button].expand, input[type=reset].expand, input[type=submit].expand {
    padding-left: 10px;
    padding-right: 10px;
}

.expand {
    min-width: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    min-width: 200px;
    max-width: 100%;
    min-height: 40px;
    padding: 10px 40px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: always;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #D45C4F;
}

.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    color: #FFFFFF;
    background-color: #BE2D2A;
}

.password-input {
    position: static;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

.password-input input {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 50%;
    height: 38px;
    background: 0 0;
    border: none;
}

.super-strong {
    font-weight: 700;
}

.description {
    font-size: 14px;
    padding-bottom: 30px;
}

#signup {
    font-size: 12px;
}

#logincontainer {
    padding-left: 30px;
    margin: auto;
}
