@media (min-width: 374px) {
  .content {
    width: 324px;
  }
}

@media (min-width: 480px) {
  .content {
    width: 424px;
  }

}

@media (min-width: 718px) {
  .konibanner {
    height: 73px;
  }

  .content {
    width: 680px;
  }

  .konibanner .column {
    margin-left: -15px;
    margin-right: -15px;
  }

  .konibanner .column > * {
    padding-left: 15px;
    padding-right: 15px;
  }

  .konibanner a.logo svg {
    width: 45px;
    height: 45px;
  }

  .pad-vert-medium-at-medium {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .align-left-at-medium {
      text-align: left !important;
  }

  .align-center-at-medium {
    text-align: center !important;
  }

  .align-right-at-medium {
    text-align: right !important;
  }

  .grid-1-at-medium > * {
    width: 100%;
  }

  .grid-2-at-medium > * {
    width: 50%;
  }

  .grid-3-at-medium > * {
    width: 33.33333%;
  }

  .display-block-at-medium {
    display: block !important;
  }

}

@media (min-width: 992px) {

}

@media (min-width: 1024px) {
  .content {
    width: 868px;
  }

  .pad-horz-small-at-large {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .pad-horz-medium-at-large {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media (min-width: 1292px) {

}
